@charset "UTF-8";
* {
  outline: none;
}

body, html {
  margin: 0;
  background: #eee;
  font-family: "Ubuntu", "微軟正黑體", sans-serif;
  letter-spacing: 0.65px;
  font-size: 15px;
  color: #555;
  cursor: default;
}
.photo img{
  height: 195px;
  /* background-size: contain; */
  object-fit: cover;
  /* background-position: center; */
}
a {
  text-decoration: none;
  color: #267CB9;
  display: block;
  transition-duration: 0.3s;
}
a:hover{
  color: #069;
  font-weight: bold;
  transform: scale(1.05);
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  color: #3d405b;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 18px;
}
.avatar{
  max-width: 100%;
  aspect-ratio: 1/1;
}
.pro-img{
  width: 100%;
  aspect-ratio: 1/0.8;
}
.pro-img--1{
  aspect-ratio: 1/1.4;
}
.right{
  margin-left: 30%;
}
